<h1> Log in to Andre's Steak Burger </h1>

<%= form_with model: @user, url: login_path, method: :post do |f| %>
<%= f.label :username %> 
<%= f.text_field :username %> <br>
<%= f.label :password %>
<%= f.password_field :password %> <br>
<%= f.submit "Log in" %>
<% end %>

<%= button_to "Return to welcome page", '/welcome', method: :get %>
