<h1>EDIT USER</h1>
<hr>

<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
    <li style="color:red"> <%= error %> </li>
    <% end %>
<% end %>
<%= form_with model: @user do |f| %> 
<%= f.label :username %> 
<%= f.text_field :username %> 
<%= f.label :password %> 
<%= f.text_field :password %> 
<%= f.submit %>
<% end %>