<h1>New User</h1>
<hr>
<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
    <li style="color:red"> <%= error %> </li>
    <% end %>
<% end %>
<%= form_with model: @user do |f| %> 
<%= f.label :username %> 
<%= f.text_field :username %> <br>
<%= f.label :password %> 
<%= f.password_field :password %> <br>
<%= f.label :password_confirmation %> 
<%= f.password_field :password_confirmation %> <br>
<%= f.label :profile_picture %> (Enter a URL. Optional)
<%= f.text_field :profile_picture %>
<%= f.submit %>
<% end %>

<%= button_to "Return to welcome page", '/welcome', method: :get %>
