<h1> <%= @user.username %> <h1>
<hr>
<img src="<%=@user.profile_picture%>" alt="Profile picture" width="400" height="500">
<p>Reward Points: <%= @user.reward_points %> </p>
<p>Balance: $<%= "#{'%.02f' % @user.balance }" %> </p>
<h2> Add Balance? </h2>
<%= button_to "Add Balance", {action: :add_balance, id: @user.id} %> 

<p>Past Orders: </p> 
<ul> <% @user.orders.each do |order| %>
    <% if order.paid_for == true %>
        <li> Receipt Number: <%= link_to order.id, order %> Cost- $<%= "#{'%.02f' %  order.total_cost}" %> </li>
        <% end %>
    <% end %>
</ul>

<p>Current Orders: </p> 
<ul> <% @user.orders.each do |order| %>
    <% if order.paid_for == false %>
        <li> Receipt Number: <%= link_to order.id, order %> Cost- $<%= "#{'%.02f' %  order.total_cost}" %> </li>
        <% end %>
    <% end %>
</ul>

<%= button_to "Start a new order!", "/orders/new", method: :get%>
<%= button_to "Log out", "/logout", method: :delete %>
<%= button_to "delete", "/users/:id/", method: :delete %>
