<h1> <%= @user.username %> <h1>
<hr>
<p>Reward Points: <%= @user.reward_points %> <p>
<p>Balance: $<%= "#{'%.02f' % @user.balance }" %> <p>
<ul>
Past Orders: <% @user.orders.each do |order| %>
   <li> Receipt Number: <%= link_to order.id, order %> Cost- $<%= "#{'%.02f' %  order.total_cost}" %> </li>
    <% end %>
</ul>

<%= button_to "Start a new order!", "/orders/new", method: :get%>
<%= button_to "Log out", "/logout", method: :delete %>
<%= button_to "delete", "/users/:id/", method: :delete %>
