<h1> Checkout </h1>

<h2> Your total price is Total Cost- $<%= "#{'%.02f' %  @order.total_cost}" %>  <br>
Your balance is $<%= "#{'%.02f' %  @order.user.balance  }"%> <br>
Your reward points is <%= @order.user.reward_points%> <br>
Would you like to pay now or pay with a discount?<h2>

<!---
<%= button_to "Pay now", itemorderjoiner, {action: :paynow, id: @order.id} %> </li>
<%= button_to "Pay with discount", itemorderjoiner, {action: discount, id: @order.id} %> </li>
-->